html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url(https://i.pinimg.com/originals/d3/49/24/d34924775f61766a3c9aca5b0073a384.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
   
}